.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

:root{
  --primary-PB: hsl(225, 100%, 94%)
  --primary-BB: hsl(245, 75%, 52%)
}

body {
margin: 0;
font-family: 'Red Hat Display', sans-serif;
background-repeat: no-repeat;
background-color: hsl(225, 100%, 98%);
background-position: top;
}

p{
font-size: 16px;
}  

.main{
display:flex;
flex-direction: column;
align-items: center;
}

.container{
display:flex;
flex-direction: column;
align-items: center;
background-color: #fff;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
margin: 7em;
width: 20em;
}

#img-top{
border-top-left-radius: 20px;
border-top-right-radius: 20px;
width: 20em;
}

.listing{
text-align:center;
padding: 1em;
}


.plan{
background-color:hsl(225, 100%, 98%) ;
border-radius: 10px;
width: 18em;
height: inherit;
position: relative; 
margin-bottom: 1em;
display: flex;
}

#bottom-img{
position: absolute;
left: 1em;
top: 1em;
}

.bg-img{
position: relative;
}

.annual{
position: relative;
font-weight: bold;
left:6em;
top: 1.5em;
font-size: 14px;
}

.Fee{
position: relative;
top: 0.7em;
right: 1.8em;
padding: 2em; 
font-size: 15px;
}

.change{
position: relative;
top: 2.5em;
font-weight: bold;
font-size: 13px;
}

.change:hover{
cursor: pointer;
}

.btn-proceed{
background-color: hsl(245, 75%, 52%);
border-radius: 8px;
color: #fff;
border: none;
width: 21em;
height: 3em;
position: relative;
font-weight: bold;
box-shadow: 0px 5px 10px  hsl(224, 23%, 55%);
}

.btn-proceed:hover{
cursor: pointer;
background-color: hsl(223, 47%, 23%);
}

.Cancel-btn{
background-color: transparent;
color:hsl(224, 23%, 55%);
border: none;
font-weight: bold;
position: relative;
margin: 1em;
}

.Cancel-btn:hover{
cursor: pointer;
}

@media screen and (min-width: 1000px) {
    body{
      background-image: url(images/pattern-background-desktop.svg);
    }
}